body{
  font-family: GillSans-Light;
  font-size: 12px;
  color: white;
  background-color: transparent;
  padding:0;
  margin:0;
}

#backgroundImage{
  position: fixed;
  left: 0;
  top: 0;
  width: 768px;
  height: 1024px;
  z-index: 0;
  background-image: url('blue_texture.jpg');
  background-size: 100%;
}

#control{
  position: fixed;
  left: 0;
  top: 0;
  width: 768px;
  height: 60px;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  -webkit-border-radius: 0px;
  background: -webkit-linear-gradient(top, #222 0.0%, #222 50%, #111  50%, #111 95.0%, #777 100.0%);
}

#table-heading{
  position: fixed;
  left:0;
  top: 60px;
  width: 768px;
  height: 36px;
  color: white;
  background-color: black;
  z-index: 10;

}

#table-heading td{
  font-weight: bold;
}

.button{
  border-radius: 12px;
  font: HelveticaNeue;
  font-size: 14px;
  line-height: 425%;
  font-weight: bold;
}

.budget-text{
  border-radius: 12px;
  font: HelveticaNeue;
  font-size: 14px;
  line-height: 425%;
  font-weight: bold;
}

#gk{
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

#fb{
  position: absolute;
  left: 64;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

#cb{
  position: absolute;
  left: 128;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

#mf{
  position: absolute;
  left: 192;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

#st{
  position: absolute;
  left: 256;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

#pts{
  position: absolute;
  left: 320;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

#clb{
  position: absolute;
  left: 384;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

#prc{
  position: absolute;
  left: 448;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

#team{
  position: absolute;
  left: 320;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

#budget{
  position: absolute;
  left: 568px;
  top: 0;
  width: 200px;
  height: 60px;
  color: white;
  text-align: right;
  background-color: transparent;
}

#price-per-player{
 position: absolute;
 left:568px;
 top: 40px;
 width: 200px;
 background-color: transparent;
 font-height:10px;
 text-align: right;
}

#buypanel{
  position: absolute;
  left:188px;
  top: -400px;
  width: 384px;
  height: 384px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 32px;
  color: white;
  z-index: 25;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

#buypanel input{
  font-size: 24px;
  border: 1px solid white;
  width: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0.5em;
}


#debug{
  position: absolute;
  left: 0;
  top: -1024;
  width: 768px;
  height: 64px;
  background-color: yellow;
  color: black;
  z-index:2;
}

#content{
  background-color: transparent;
  position: relative;
  width: 768px;
  z-index: 1;
  margin-top: 99px;
}

#reset{
  width:200px;
  margin:0px auto;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  text-align: center;
}

#nplayers{
 font-size: 16px;
}

.total {
 font-weight: bold;
}

.refresh{
 font-weight: bold;
 background-color: rgba(0, 0, 255, 0.5);
}

.finished{
 vertical-align: sub;
 font-size:75%;
}

.remaining{
 vertical-align: sub;
 font-size:60%;
}

th,td{
  border: 1px solid white;
  text-align: center;
}

table{
  border-collapse: collapse;
  line-height: 200%;
}

tr.odd{
  background-color: rgba(0, 0, 0, 0.3);
}

tr.even{
  background-color: rgba(0, 0, 0, 0.1);
}

.position{
  width: 72px;
}

.name{
  text-align: left;
  padding-left: 1em;
  width: 120px;
}

.club{
  width: 68px;
}

.played{
  width: 80px;
}

.goals{
  width: 72px;
}

.price{
  width: 104px;
}

.points{
  width: 80px;
}

.actions{
  width: 134px;
}

.mark{
  width: 50px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  font-weight: bold;
}

.buy{
  width: 79px;
  background-color: rgba(0, 255, 0, 0.4);
  color: white;
 font-weight: bold;
}

.centred{
  text-align:center
}

/* Table heading text */
.ht-position:before { content: "Position"; }
.ht-name:before { content: "Name"; }
.ht-club:before { content: "Club"; }
.ht-played:before { content: "Played"; }
.ht-goals:before { content: "Goals"; }
.ht-price:before { content: "Price £M"; }
.ht-points:before { content: "Points"; }
.ht-actions:before { content: "Actions"; }

#button-confirm{
  width: 96px;
  height: 48px;
  margin-left: 68px;
  border-radius: 12px;
  background-color: green;
  border: 4px solid darkgreen;
  color: white;
  padding-bottom: 24px;
  font-weight: bold;
}

#button-cancel{
  width: 96px;
  height: 48px;
  margin-top: -80px;
  margin-left: 212px;
  border-radius: 12px;
  background-color: red;
  color: white;
  border: 4px solid darkred;
  padding-bottom: 24px;
  font-weight: bold;
}

/* Budget label */
.budget-text:before { content: "Budget: "; }

